#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.left-side-property .left-side {
  font-size: 14px;
  padding: 8px;
  width: auto;
}

.left-side-property.property-panel-table div.multiline {
  padding: 20px;
}

.property-section{
  padding: 20px 15px;
}